body {
    /*backround-color: rgb(150,220,100)
    /*backround-color: lightgreen;*/
    background: linear-gradient(to bottom right, rgb(220,104,219), rgb(210,17,20));
}
 #blue {
     background-color: rgb(220,20,60);
     margin: 20px;
     border: 20px;
     width: 1000px;
     height: 
    }
